nav {
  display: inline-block;
  padding: 0;
  color: #777;
}
nav ul {
  padding: 0;
}
nav li {
  position: relative;
  display: inline-block;
  padding: 5px 8px 5px 22px;
  margin: 2px 0 2px 4px;
  background: $color_principal;
  color: #fff;
}
nav a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
nav a > span {
  display: block;
  height: 0;
  overflow: hidden;
  color: #fff;
}
nav li:first-child {
  border-radius: 3px 0 0 3px;
  padding-left: 16px;
}
nav li:last-child {
  border-radius: 0 3px 3px 0;
  padding-right: 16px;
  background: #ccc;
}
nav li:hover {
  background: $color_hover;
}
nav li:last-child:hover {
  background: #ccc;
}
nav li:before,
nav li:last-child:before,
nav li a:after {
  border: 16px solid transparent;
  border-left-width: 12px;
  border-right-width: 0;
  content: '';
  height: 0;
  left: 100%;
  position: absolute;
  top: 0;
  width: 0;
}
nav li:before,
nav li:last-child:before {
  border-left-color: #fff;
  left: -4px;
  margin: 0;
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  transform: translateX(4px);
  z-index: 1;
}
nav li:first-child:before {
  content: none;
}
nav li:last-child a:after {
  content: none;
}
nav li a:after {
  border-left-color: $color_principal;
  z-index: 2;
}
nav li:hover a:after {
  border-left-color: $color_hover;
}