.indice {
  border-radius: 3px;
  border: 1px #ccc solid;
  display: table;
  margin: 16px auto;
  padding: 15px 15px 10px;
}
.indice > p {
  color: #777;
  font-family: $fuente_headers,sans-serif;
  margin: 0 0 10px;
}
.indice li > span,
.btn {
  background: $color_principal;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 5px;
  padding: 5px 16px;
}
.btn {
  display: block;
  padding: 13px 20px;
}
.indice li > span:hover,
.btn:hover {
  background: $color_hover;
  color: #fff;
}
.indice ul,
.indice li {
  position: relative;
}
.indice ul {
  padding-left: 16px;
}
.indice > ul {
  display: table;
  list-style: none;
  margin: 10px auto 5px;
  padding: 0;
  text-align: left;
}
.indice ul > li {
  padding: 5px 0 0 16px;
}
.indice > ul > li {
  padding: 5px 0 0 0;
}
.indice > ul ul > li {
  border-left: 1px solid #ccc;
  list-style: none;
}
.indice > ul ul > li:before {
  border-right: 0px #ccc solid;
  border-top: 0px #ccc solid;
  border-left: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  height: 0;
  width: 16px;
}
.indice > ul ul > li:last-child {
  border: none;
}
.indice > ul ul > li:last-child:before {
  height: 20px;
  top: 0;
}
.indice li > span {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}
.indice > ul > li > span {
  display: block;
}
.indice a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.indice a > span {
  display: block;
  height: 0;
  overflow: hidden;
  color: #000;
}
.indice .sub {
  background: #ccc;
}
aside [data-c],
aside a {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
}
.facebook {
  background: #3b5998;
  border: 2px solid #3b5998;
}
.facebook:hover {
  background: #fff;
  color: #3b5998;
}
.twitter {
  background: #4099FF;
  border: 2px solid #4099FF;
}
.twitter:hover {
  background: #fff;
  color: #4099FF;
}
.whatsapp {
  background: #25D366;
  border: 2px solid #25D366;
}
.whatsapp:hover {
  background: #fff;
  color: #25D366;
}
.email {
  background: #999;
  border: 2px solid #999;
}
.email:hover {
  background: #fff;
  color: #999;
}
.subir {
  background: $color_principal;
  border-radius: 50%;
  border: 4px #fff solid;
  bottom: 16px;
  height: 56px;
  padding: 9px;
  position: fixed;
  right: 16px;
  width: 56px;
  z-index: 10;
}
.subir:hover {
  background: $color_hover;
}
#cookiesms {
  background-color: #fff;
  bottom: 0px;
  font-size: 14px;
  left: 0px;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 5;
}
#cookiesms:hover {
  bottom: 0px;
}
@media (max-width: 375px) {
  #cookiesms {
      text-align: left;
  }
}
button[data-c] {
  background: $color_principal;
  border-radius: 3px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  padding: 3px 10px;
}
button[data-c]:hover {
  background: $color_hover;
  color: #fff;
}