// HEADER ANIMATIONS

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 160em;
    stroke-dasharray: 160em;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 160em;
  }
}
@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 160em;
    stroke-dasharray: 160em;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 160em;
  }
}
@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 70em;
    stroke-dasharray: 70em;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 70em;
  }
}
@keyframes animate-svg-fill {
  0% {
    fill: transparent;
    stroke-width: 2;
  }
  100% {
    stroke-width: 0;
  }
}
.landing-header__logo > * {
  stroke-width: 2;
  stroke: $dark;
  &:nth-child(1) {
    animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) .5s both,
              animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both;
  }
  &:nth-child(2) {
    animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both,
              animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s both;
  }
  &:nth-child(3) {
    animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both,
              animate-svg-fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
  }
}
.landing-header {
  .landing-header__title {
    animation: show-up .5s 1.5s both;
  }
  .subtitle {
    animation: show-up .5s 2s both;
  }
  .btns {
    animation: show-up .5s 2.5s both;
  }
}
.section__title  {
  text-transform: uppercase;
}

/* purgecss start ignore */
.compare {
  [*|href="/icons.svg#times"] {
    color: red;
  }
  [*|href="/icons.svg#check"] {
    color: green;
  }
}
/* purgecss end ignore */