@font-face {
  font-family: $fuente_headers;
  src: url('/fonts/' + $fuente_headers + '.eot');
  src: url('/fonts/' + $fuente_headers + '.eot?#iefix') format('embedded-opentype'),
        url('/fonts/' + $fuente_headers + '.woff2') format('woff2'),
        url('/fonts/' + $fuente_headers + '.woff') format('woff'),
        url('/fonts/' + $fuente_headers + '.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: muli;
  src: url('/fonts/muli-black.eot');
  src: url('/fonts/muli-black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/muli-black.woff2') format('woff2'),
        url('/fonts/muli-black.woff') format('woff'),
        url('/fonts/muli-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: muli;
  src: url('/fonts/muli-light.eot');
  src: url('/fonts/muli-light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/muli-light.woff2') format('woff2'),
        url('/fonts/muli-light.woff') format('woff'),
        url('/fonts/muli-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}