
@function fluid-size($size-min, $size-max) {
  $slope: ($size-max - $size-min) / ($screen-max - $screen-min);
  $slope: $slope * $slope / $slope;
  $y-axis-intersection: (- $screen-min * $slope + $size-min) / 16px * 1rem;
  $preferred-value: calc(#{$y-axis-intersection} + #{$slope * 100vw});
  @if $size-min < $size-max  {
    @return clamp($size-min, $preferred-value, $size-max);
  } @else {
    @return unquote('min(#{$size-min}, max(#{$preferred-value}, #{$size-max}))');
  }
}

@function fluid-columns-width($container, $columns: 1, $margin: 2em, $min-column-width: 288px, $modal: false) {
  $num-paddings: 2;
  @if $modal {
    $num-paddings: 4;
  }
  $paddings: $font-size-max * $num-paddings;
  $container-witouth-paddings: $container - $paddings;
  $margins-in-px: ($columns - 1) * ($margin / 1em * $font-size-max);
  $columns-width: $container-witouth-paddings - $margins-in-px;
  $max-column-width: $columns-width / $columns;
  @return fluid-size($min-column-width, $max-column-width);
}

@function text-contrast($n, $lighter:$white, $darker:$dark) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);
  @if abs($color-brightness) < ($light-color/2){
    @return $lighter;
  } @else {
    @return $darker;
  }
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@function chamfer($radius) {
  @return polygon($radius 0%, calc(100% - #{$radius}) 0%, 100% $radius, 100% calc(100% - #{$radius}), calc(100% - #{$radius}) 100%, $radius 100%, 0% calc(100% - #{$radius}), 0% $radius);
}

@function chamfer-ext($radius, $padding) {
  $radius-final: ((($radius + $padding) / 0.7071) - $padding) * 0.7071;
  @return chamfer($radius-final);
}

@function chamfer-submenu($radius, $padding) {
  $radius: ((($radius + $padding) / 0.7071) - $padding) * 0.7071;
  @return polygon(0% 0%, 100% 0%, 100% calc(100% - #{$radius}), calc(100% - #{$radius}) 100%, $radius 100%, 0% calc(100% - #{$radius}), 0% $radius);
}

@function chamfer-fluid($radius, $padding) {
  $radius: calc((((#{$radius} + #{$padding}) / 0.7071) - #{$padding}) * 0.7071);
  // $radius: calc(#{$radius} + #{fluid-size(0px, 16px)});
  @return polygon(#{$radius} 0%, calc(100% - #{$radius}) 0%, 100% #{$radius}, 100% calc(100% - #{$radius}), calc(100% - #{$radius}) 100%, #{$radius} 100%, 0% calc(100% - #{$radius}), 0% #{$radius});
}

@function chamfer-fluid-top($radius, $padding) {
  $radius: calc((((#{$radius} + #{$padding}) / 0.7071) - #{$padding}) * 0.7071);
  @return polygon(#{$radius} 0%, calc(100% - #{$radius}) 0%, 100% #{$radius}, 100% calc(100% - #{$radius}), 100% 100%, 0 100%, 0% #{$radius});
}

@function chamfer-fluid-circle($radius, $padding, $width) {
  $radius: calc((((#{$radius} + #{$padding}) / 0.7071) - #{$padding}) * 0.7071);
  @return polygon(50% 0%, 100% calc(#{$width} / 2), 100% calc(100% - #{$radius}), calc(100% - #{$radius}) 100%, #{$radius} 100%, 0% calc(100% - #{$radius}), 0% calc(#{$width} / 2));
}