*,
:before,
:after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
  @if $color_fondo {
    background: $color_fondo;
  }
  color: #000;
  font-family: muli,sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  margin: 0;
  text-align: center;
}