.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.grid > li {
  position: relative;
  list-style: none;
  vertical-align: top;
  width: 50%;
  padding: 10px 10px 45px;
}
@media (min-width: 425px) {
  .grid > li {
      width: 50%;
  }
}
@media (min-width: 768px) {
  .grid.tres > li,
  .grid.cuatro > li {
      width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .grid.cuatro > li {
      width: 25%;
  }
}
.grid [data-c],
.grid a {
  display: block;
}
.grid [data-c]:before,
.grid a:before {
  content: '';
  display: block;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 5px;
}
.grid [data-c]:hover:before,
.grid a:hover:before {
  box-shadow: 0 0 0 5px $color_hover;
}
.grid [data-c]:after,
.grid a:after {
  background: $color_principal;
  border-radius: 3px;
  color: #fff;
  content: 'Ver más';
  font-family: $fuente_headers,sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px;
  line-height: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  display: table;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
@media (max-width: 340px) {
  .grid [data-c]:after,
  .grid a:after {
      font-size: 12px;
  }
}
// .prod [data-c]:after {
//   content: 'Ver Producto';
// }
.grid [data-c]:hover:after,
.grid a:hover:after {
  background: $color_hover;
}
.cat a,
.prod [data-c] > p {
  margin: 10px 0;
}
.prod [data-c] > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.cat a,
.prod [data-c] > .brand,
.prod a > .brand,
.busq [data-c] > p {
  color: $color_principal;
  font-size: 22px;
}
.cat a:hover,
.prod [data-c]:hover > .brand > span,
.prod a:hover > .brand > span {
  color: $color_hover;
}
.grid p {
  color: #777;
  margin: 10px 0;
}
.prod [data-c] .brand,
.prod a .brand {
  color: #777;
  font-family: $fuente_headers,sans-serif;
  font-size: 16px;
  font-weight: normal;
  max-height: 53px;
}
.prod [data-c] [itemprop='name'],
.prod a [itemprop='name'] {
  height: 69px;
}
.antes,
[itemprop='reviewRating'] {
  color: #ccc;
  font-weight: normal;
}
.descuento {
  background: $color_principal;
  border-radius: 50%;
  color: #fff;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(15deg);
}
.grid.cat + .grid.prod {
  border-top: 4px #777 dashed;
  padding-top: 16px;
}