h1, h2, h3, h4, h5, h6,
.logo,
.cat a,
.brand,
.busq p {
    color: #777;
    font-family: $fuente_headers,sans-serif;
    font-weight: normal;
    line-height: 1.1;
    margin: 60px 0 10px;
}
h1 {
    margin-top: 20px;
    font-size: 36px;
    color: #222;
}
h2 {
    font-size: 30px;
    color: #444;
}
h3 {
    font-size: 26px;
    color: #666;
}
h4 {
    font-size: 22px;
    color: #888;
}
h5 {
    font-size: 18px;
    color: #aaa;
}
h6 {
    font-size: 16px;
    color: #ccc;
}
h1 > span,
h2 > span,
h3 > span,
h4 > span,
h5 > span,
h6 > span {
    color: $color_principal;
}
.cat a > span,
.busq p > span {
    color: #bbb;
}