figure {
  margin: 1em auto;
}
figcaption {
  color: #ccc;
}
img {
  height: auto;
  max-width: 100%;
}
.grid img {
  max-height: 200px;
}
iframe {
  border: 0;
}
.video {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0 0 56.25%;
  position: relative;
}
.video iframe {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}