header,
footer {
    background-color: #fff;
    color: #777;
    padding: 35px 0;
    font-family: $fuente_headers,sans-serif;
}
header > p,
footer > p {
    margin: 0 auto;
    padding: 0 15px;
}
@if $menu == 0 {
  header {
      border-bottom: 6px $color_principal solid;
  }
}
footer {
    border-top: 6px $color_principal solid;
}
footer > p {
    font-size: 14px;
}
footer [data-c],
footer a {
    color: #777;
    display: inline-block;
}
main {
    background: #fff;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-flow: column;
}
@media (min-width: 768px) {
    header > p,
    footer > p,
    main {
        width: 750px;
    }
    main {
        border-radius: 5px;
        margin: 50px auto;
        padding: 25px;
    }
}
@media (min-width: 992px) {
    header > p,
    footer > p,
    main {
        width: 970px;
    }
}
main > article {
    order: 2;
}
main > section {
    order: 4;
}
main > nav {
    order: 1;
}
main > aside {
    order: 3;
}
main > a.btn {
    order: 5;
}