dl {
  text-align: left;
}
dd {
  margin-bottom: 16px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 16px auto;
  text-align: left;
}
tr {
  border-bottom: 1px #ccc solid;
}
td,
th {
  padding: 2px 5px;
}
ul.listakw {
  padding: 0;
}
ul.listakw > li {
  display: inline-block;
  margin-right: 15px;
}
ul.listakw > li:before {
  content: '#';
  margin-right: 5px;
  color: #bbb;
}