@if $menu {
  .menu ul {
    font-family: $fuente_headers,sans-serif;
    font-weight: normal;
    background: $color_principal;
    margin: 0;
    padding: 2.5px;
    text-transform: uppercase;
  }
  .menu li {
    display: inline-block;
  }
  .menu [data-c] {
    background: #fff;
    border-radius: 3px;
    color: #777;
    display: inline-block;
    margin: 2.5px;
    padding: 5px 20px;
  }
  .menu [data-c]:hover {
    background: $color_hover;
    color: #fff;
  }
}