.datos {
  color: #ccc;
  font-size: 14px;
}
.datos > * {
  display: inline-block;
  margin: 0 5px;
}
.estrellitas {
  color: #ffa500;
}
main article .offers {
  color: #5cb85c;
  font-weight: bold;
  margin-bottom: 0;
}
[itemprop='aggregateRating'] {
  font-size: 12px;
  margin: 0;
}