//main .cat p,
main p {
  text-align: justify;
}
.grid p,
.indice p,
.btn {
  text-align: center;
}
ol,
[itemprop='reviewBody'] ol,
[itemprop='reviewBody'] ul,
[itemprop='description'] ol,
[itemprop='description'] ul,
.izq {
  text-align: justify;
  padding-left: 30px;
}
[itemprop='reviewBody'] li ol,
[itemprop='reviewBody'] li ul,
[itemprop='description'] li ol,
[itemprop='description'] li ul {
  margin: 0 auto;
}