a,
[data-c],
[onclick],
.grid a:after,
.grid [data-c]:after,
nav li,
.indice li > span,
.btn {
  -webkit-transition: color .5s, background-color .5s;
  -moz-transition: color .5s, background-color .5s;
  transition: color .5s, background-color .5s;
}
nav li a:after {
  -webkit-transition: border-left-color .5s;
  -moz-transition: border-left-color .5s;
  transition: border-left-color .5s;
}
.grid a:before,
.grid [data-c]:before {
  -webkit-transition: box-shadow, .5s;
  -moz-transition: box-shadow, .5s;
  transition: box-shadow, .5s;
}
.logo {
  &,
  > svg,
  > img {
    -webkit-transition: transform, .5s;
    -moz-transition: transform, .5s;
    transition: transform, .5s;
  }
}