{{ if . }}
    $sitemap-alt: true;
{{ else }}
    $sitemap-alt: false;
{{ end }}

.dnone {
    display: none;
}
.sitemap {
    border: none;
    padding: 0;
}
.sitemap > ul > li > ul > li > span {
    background: #777;
    margin-right: 5px;
}
@media (min-width:992px) {
    .sitemap > ul > li {
        position: relative;
    }
    .sitemap > ul > li:before {
        content: '';
        border-left: 1px solid #ccc;
        width: 0;
        height: 17px;
        position: absolute;
        top: 37px;
        left: 50%;
    }
    .sitemap > ul > li > span {
        display: table;
        margin: 0 auto;
    }
    .sitemap > ul > li > ul {
      margin-top: 16px;
      display: flex;
      max-width: 920px;
      overflow-x: scroll;
    }
    .sitemap > ul > li > ul > li {
        border-left: 0 solid #ccc;
        border-top: 1px solid #ccc;
        vertical-align: top;
        padding: 16px 0 0 0;
        margin-bottom: 10px;
    }
    .sitemap > ul > li > ul > li:before {
        display: block;
        width: 0;
        height: 16px;
        left: 16px;
        top: 0;
    }
    .sitemap > ul > li > ul > li:first-child,
    .sitemap > ul > li > ul > li:last-child {
        border-top: 0 solid #ccc;
    }
    .sitemap > ul > li > ul > li:first-child:before,
    .sitemap > ul > li > ul > li:last-child:before {
        width: 100%;
        border-top: 1px solid #ccc;
        border-bottom: 0 solid #ccc;
        height: 16px;
    }
    .sitemap > ul > li > ul > li:last-child:before {
        width: 16px;
        border-left: 0 solid #ccc;
        border-right: 1px solid #ccc;
        left: 0;
    }
}
@if $sitemap-alt {
  .sitemap > ul > li > ul > li:first-child > ul {
      margin-top: -4px;
  }
  .sitemap > ul > li > ul > li:first-child > ul > li:first-child > span {
      margin-right: 5px;
  }
  @media (max-width:992px) {
      .sitemap > ul > li > ul > li:first-child > ul {
          margin-top: -5px;
      }
      .sitemap > ul > li > ul > li:first-child > ul:before {
          border-right: 1px #ccc solid;
          border-top: 1px #ccc solid;
          content: '';
          display: block;
          height: 16px;
          left: 0;
          position: absolute;
          top: 20px;
          width: 16px;
      }
      .sitemap > ul > li > ul > li:first-child > ul > li:first-child {
          border-left: 0 #ccc solid;
      }
  }
  .indice > ul > li > ul > li:first-child,
  .indice > ul > li > ul > li:first-child > ul:first-child {
      padding-left: 0;
  }
  .indice > ul > li > ul > li:first-child > ul:first-child:before {
      content: none;
  }
  .indice > ul > li > ul > li:first-child > ul > li {
      border-left: 0 solid #ccc;
  }
  .indice > ul > li > ul > li:first-child > ul > li:first-child:before,
  .indice > ul > li > ul > li:first-child > ul > li:last-child:before {
      height: 0;
      top: 20px;
  }
  @media (min-width:992px) {
      .indice > ul > li > ul > li:first-child > ul:first-child {
          padding-left: 16px;
      }
      .indice > ul > li > ul > li:first-child > ul:first-child:before {
          content: '';
      }
      .indice > ul > li > ul > li:first-child > ul > li {
          border-left: 1px solid #ccc;
      }
      .indice > ul > li > ul > li:first-child > ul > li:last-child {
          border-left: 0 solid #ccc;
      }
      .indice > ul > li > ul > li:first-child > ul > li:last-child:before {
          height: 20px;
          top: 0;
      }
  }
}