{{/*  GRID PARA BÚSQUEDAS  */}}
<li class="{{ replace (lower .afiliado) `` `-` }}">
  <div data-c="{{ .url | base64Encode }}" data-t>
    {{- partial "img" (dict
      "src" .img
      "alt" (print .kw ` en ` .afiliado)
      "width" 200
      "height" 200
    ) -}}
    <p>{{ .kw | replaceRE (print `(` .regex `)`) `<span>$1</span>` | safeHTML }}</p>
  </div>
</li>