{{ $match := ` class='lazyload'|<noscript>.*?</noscript>` }}
{{ $contenido := partial "content-custom-replace" . }}
<div itemprop='reviewBody'>
  {{ $existe_spin := findRE `\{` $contenido }}
  {{ if $existe_spin }}
    {{ $h1 := .h1 | replaceRE `(^| )(comprar|(en )?tiendas? online|online|(en )?tiendas?|venta)( de)?( |$)` `` }}
    {{ if .final }}
      <h2 itemprop="headline">¿Por qué Comprar <span>{{ $h1 }}</span> Online?</h2>
    {{ end }}
    {{ replace (partial "spin" (dict "str" $contenido "kw" $h1 )) "data-lazy-" "decoding='async' loading='lazy' " | safeHTML }}
  {{ else }}
    {{ replace $contenido "data-lazy-" "decoding='async' loading='lazy' " | safeHTML }}
  {{ end }}
</div>