{{/*  GRID O REJILLAS PARA ENLAZADO  */}}
{{/*
  grid:
    .ids
    .kw
    .metadesc_alt
    .metadesc_visibles
    .g_grid:
      .width
      .height
      .h1
      .uri
      .regex
      .metadesc
*/}}

{{ $ids := split .ids "|" }}

{{ $kws := .kws }}
{{ if .kws }}
  {{ $kws = split .kws "|" }}{{/*  KW ANCHORS (H1 en su defecto)  */}}
{{ else }}
  {{ $kws = $ids }}{{/*  Añadir mismas plecas que IDs  */}}
{{ end }}

{{ $metadesc_alt := "" }}
{{ if .metadesc_visibles | and .metadesc_alt }}
  {{ $metadesc_alt = split .metadesc_alt "|" }}
{{ end }}

{{ range $i, $x := $ids }}
  {{ $x = $x | int}}

  {{/*  Si no se especifica width, la imagen es de 200x200  */}}
  {{ $width_min := 200 }}
  {{ $height_min := 200 }}
  {{ if index $.g_grid.width $x }}
    {{ $width_min = 300 }}
    {{ $height_min = math.Round (div (mul (index $.g_grid.height $x | default 0) $width_min) (index $.g_grid.width $x | default 1))  }}
  {{ end }}

  {{ $img_nombre := "inicio" }}
  {{ if $x }}
    {{ $img_nombre = index $.g_grid.uri $x
                     | replaceRE `^\/` ``
                     | replaceRE `^\#` ``
                     | replaceRE `(\/|\#)` `-` }}
  {{ end }}

  {{ $img_min := resources.GetMatch (print "/img/" $img_nombre "-" $width_min ".jpg") }}

  {{ $kw_id := index $.g_grid.h1 $x }}
  {{ if $.kws }}
    {{ with index $kws $i }}
      {{ $kw_id = . }}
    {{ end }}
  {{ end }}

  <li>
    {{- partial "img" (dict
      "src" $img_min
      "alt" $kw_id
      "width" $width_min
      "height" $height_min
    ) -}}
    <a href="{{ index $.g_grid.uri $x }}">{{ $kw_id | replaceRE (print `(` $.g_grid.regex `)`) `<span>$1</span>` | safeHTML }}</a>
    {{ if $.metadesc_visibles }}
      {{ $metadesc := index $.g_grid.metadesc $x }}
      {{ if index $metadesc_alt $i }}
        {{ $metadesc = index $metadesc_alt $i }}
      {{ end }}
      <p>{{ $metadesc | replaceRE `\s(✅|✓|✖|✚|➕|⚡|®|❤|⬤|➥|➤|«|»|‹|›)` `` | safeHTML }}</p>
    {{ end }}
  </li>

{{ end }}