
{{/*  GRID O REJILLAS PARA PRODUCTOS  */}}
{{ $url := print "/producto/" (lower .afiliado) "/" .asin }}
<li>
  <div data-c="{{ $url | base64Encode }}" data-t>
    {{- partial "img" (dict
      "src" .img
      "alt" (.img_alt | default .nombre)
      "width" 200
      "height" 200
    ) -}}
    <p class="brand">{{ .marca }}</p>
    <p>{{ .nombre }}</p>
    {{ if .precio }}
      <p class="offers">{{ .precio }} €</p>
    {{ end }}
  </div>
</li>